{{#if products.length}}
    <h2>Lista de productos</h2>
    {{#each products}}
        <div>
            <h3>{{this.title}}</h3>
            <p>Precio: {{this.price}}</p>
            <button>Agregar al carrito</button>
        </div>
    {{/each}}
{{else}}
    <p>No hay productos disponibles.</p>
{{/if}}


<script>
    function addToCart(productId) {
        const cartId = localStorage.getItem("cartId");
        if (!cartId) {
            alert("Crea un carrito primero");
            return;
        }

        fetch(`/api/carts/${cartId}/product/${productId}`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ quantity: 1 })
        })
        .then(response => response.json())
        .then(data => alert("Producto agregado al carrito"))
        .catch(error => console.error("Error:", error));
    }
</script>
